<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rocreport.android" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.rocreport.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.rocreport.permission.MAPS_RECEIVE" />

    <application
        android:debuggable="false"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_api_key" />

        <activity
            android:name="com.rocreport.android.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.rocreport.android.ReportActivity"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name="com.rocreport.android.LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.rocreport.android.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.rocreport.android.SplashActivity"
            android:label="RocReport" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rocreport.android.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name="com.rocreport.android.ReportListActivity"
            android:label="@string/title_report_list" >
        </activity>
        <activity
            android:name="com.rocreport.android.ReportDetailActivity"
            android:label="@string/title_report_detail"
            android:parentActivityName="com.rocreport.android.ReportListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rocreport.android.ReportListActivity" />
        </activity>
        <activity
            android:name="com.rocreport.android.ReportsListActivity"
            android:label="@string/title_activity_reports" >
        </activity>
        <activity
            android:name="com.rocreport.android.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.rocreport.android.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
